<!doctype html>
<html lang="en" ng-app="spreadsheetApp">
<head>
  <meta charset="utf-8">
  <title>Spreadsheet Sample</title>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.5/angular-filter.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.4.2/tabletop.min.js"></script>

  <!-- Javascript (dependencies) -->
  <script src="../dist/spreadsheet.js"></script>
  <script src="../dist/config.js"></script>

  <style>
  *{
  	font-family: Arial;
  }
  </style>

</head>
<body ng-controller="ItemsListCtrl">

<div style="width: 100%">

	<div 
		ng-repeat="item in pageItems"
		style="width: 18%; height: 400px; overflow: scroll; overflow-x: hidden; float:left; margin: 1%; padding: 20px; background: #f4f4f4">

    <youtube-video 
      ng-repeat="(field, value) in item" 
      ng-if="schema[field].video" video-id="value"
      width="'300px'" height="'200px'">
    </youtube-video>

		<strong>{{ item.movie }}</strong> <!-- You can access attributes directly -->
		<p ng-repeat="attribute in item"> {{ attribute | joinBy: ', ' }}</p> <!-- You can access all attributes -->
	</div>

	<br style="clear: both;">

</div>

<button href="" ng-disabled="currentPage == 1" ng-click="currentPage = currentPage - 1">
	<span>&laquo;</span>Previous page
</button>

{{ currentPage }}

<button href="" ng-disabled="currentPage >= items.length/itemsPerPage" ng-click="currentPage = currentPage + 1">
	Next Page <span>&raquo;</span>
</button>



</body>
</html>